[Unit]
Description=Krisha Web Analytics
After=network.target postgresql.service

[Service]
Type=simple
User=nik
WorkingDirectory=/home/nik/krisha_bot
ExecStart=/home/nik/krisha_bot/venv/bin/python service_web.py
Restart=always
RestartSec=10
TimeoutStopSec=10
KillSignal=SIGKILL
StandardOutput=append:/home/nik/krisha_bot/web.log
StandardError=append:/home/nik/krisha_bot/web.log

[Install]
WantedBy=multi-user.target
